* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.snake-head {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  border-radius: 30px;
}

.segment {
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  border-radius: 30px;
  position: absolute;
}

.plansza {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 30px auto;
  position: relative;
}

.liczniki {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
}

.movements {
  display: flex;
  align-items: center;
}

.wisnia {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  position: absolute;
  display: none;
}
.scoreboard {
  display: flex;
}

.lista {
  width: 200px;
  height: 500px;
  background-color: linen;
}
