* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.snake-head {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  border-radius: 30px;
}

.segment {
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  border-radius: 30px;
  position: absolute;
}

.plansza {
  width: 600px;
  height: 600px;
  border: 3px solid darkgray;
  outline: 3px solid black;
  margin: 30px auto;
  position: relative;
}

.ramka {
  border: 3px solid gray;
  padding: 2px;
}

.liczniki {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
}

.movements {
  display: flex;
  align-items: center;
}

.wisnia {
  background: url(cherry.svg);
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  display: none;
}
.scoreboard {
  display: flex;
}

.lista {
  width: 200px;
  height: 500px;
  background-color: linen;
}

.active {
  opacity: 0;
  transition: 1s 0.2s ease-in;
}

.gameOver {
  color: darkred;
  opacity: 0;
  position: fixed;
  margin: auto;
  top: 40%;
  left: 25%;
  font-size: 80px;
  text-align: center;
}
.show {
  opacity: 1;
  transition: 1s 1s ease-in;
}

button {
  width: 120px;
  height: 60px;
  color: white;
  background-color: gray;
  border-radius: 10px;
  font-size: 15px;
}
